@import '../toolbox.scss';

.sidebar {
  width: $sidebar-width;
  height: 100vh;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  background: $light-background-color;

  .sidebar__container {
    padding: $half-spacing;
  }

  .sidebar__controls {
    ul {
      margin: 0;
    }

    button {
      margin: $half-spacing 0;
    }
  }
}

.logo {
  display: block;
  width: 150px;
  height: 150px;
  margin: auto;
  background: $logo;
  background-size: 100% 100%;
}

.navigation {
  h3 {
    display: inline-block;
    margin-top: $base-spacing * 2;
    margin-bottom: $base-spacing;
    position: relative;

    &:after {
      content: '';
      display: block;
      bottom: 0;
      left: 0;
      width: 88%;
      height: 2px;
      background: $black;
    }
  }

  ul {
    margin: 0;
    list-style-type: lower-roman;
    padding-left: $base-spacing;

    li {
      text-transform: lowercase;

      &:hover {
        cursor: pointer;
      }
    }
  }
}
